<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      
      <a href="/" class="navbar-brand"><img class="bear-small" src="assets/images/Bear Paw.jpg" alt="Home"></a>
      <a class="navbar-brand" ng-hide="nav.isLoggedIn()" ui-sref="signup">Sign up</a>
      <a class="navbar-brand" ng-hide="nav.isLoggedIn()" ui-sref="login">Login</a>
      <a class="navbar-brand" ng-show="nav.isLoggedIn()" ui-sref="logout">Logout</a>
      <a class="navbar-brand" ng-show="nav.isLoggedIn()" ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
