<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      
      <a ui-sref="main" class="navbar-brand"><img class="bear-small" src="assets/images/Bear Paw.jpg" tooltip-placement="bottom" uib-tooltip="Home"></a>
      <a class="navbar-brand" ng-hide="nav.isLoggedIn()" ui-sref="signup" tooltip-placement="bottom" uib-tooltip="Signup"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i></a>
      <a class="navbar-brand" ng-hide="nav.isLoggedIn()" ui-sref="login" tooltip-placement="bottom" uib-tooltip="Login"><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></a>
      <a class="navbar-brand" ng-show="nav.isLoggedIn()" ui-sref="logout" tooltip-placement="bottom" uib-tooltip="Logout"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a>
      <a class="navbar-brand" ng-show="nav.isLoggedIn()" ui-sref="settings" tooltip-placement="bottom" uib-tooltip="Change Password"><i class="fa fa-cog fa-3x" aria-hidden="true"></i></span></a>
      <a class="navbar-brand" ng-show="nav.isLoggedIn()" ng-click="main.refresh()" tooltip-placement="bottom" uib-tooltip="Refresh Reservations"><i class="fa fa-refresh fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
