.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 2em;
  line-height: 1;
  letter-spacing: -1px;
}

.jumbotron {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #69c;
  /*background: #C0D9D9;*/
  /*background: #4393B9;*/
}

.navbar-text {
  margin-left: 15px;
}
.login {
  color:white;
}
.login:hover{
  color:black;
}
.bear{
  height: 200px;
}
th{
  height:4.2em;
}